ContentPage {
	background-color: lightgreen;
	padding: 20;
}

.navbrand {
	color: white;
	font-weight: 900;
	font-size: 20;
}

.btn-brand {
	color: white;
	background-color: #53b4df;
	border-width: 4;
	border-radius: 5;
	font-weight: 900;
}

.thead {
	background-color: azure;
}

.container {
	background-color: #7ec7e7;
}

.navbar {
	background-color: #53b4df;
}
